{% extends 'layout.html' %}
{% block body %}
<div class="section section-our-team-freebie" style="margin-top: -35px;">
    <div class="parallax filter filter-color-black">
        <div class="image" style="background-image:url({{ url_for('static', filename='assets/img/space_background.jpeg') }})">
        </div>
        <div class="container">
            <div class="content">
                <div class="row">
                    <div class="title-area">
                        <h2>Space Force</h2>
                        <div class="separator separator-danger">✻</div>
                        <p class="description">Bow To Our Space Force. They Are The One Who Delegated Their Steem Power!</p>
                    </div>
                </div>
                <div class="team">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card card-member">
                                        <div class="content">
                                            <div class="avatar avatar-danger">
                                                <img alt="..." class="img-circle" src="https://ipfs.busy.org/ipfs/QmdPcp81xKNBcUhL8gBLSr3u1uTt3zzSXpDFStDhzEsuhT"/>
                                            </div>
                                            <div class="description">
                                                <h3 class="title">@dimimp</h3>
                                                <p class="small-text">Sponsor</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card-member">
                                        <div class="content">
                                            <div class="avatar avatar-danger">
                                                <img alt="..." class="img-circle" src="https://ipfs.busy.org/ipfs/QmbkWqUvNixz8fc6jZR4eaznJb4fp5nYpbom9NVzugxRcw"/>
                                            </div>
                                            <div class="description">
                                                <h3 class="title">@empato365</h3>
                                                <p class="small-text">Project Manager (Research Dept.)</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card-member">
                                        <div class="content">
                                            <div class="avatar avatar-danger">
                                                <img alt="..." class="img-circle" src="https://ipfs.busy.org/ipfs/QmbCq6ucGmiVx7uHDC2kQACHsNbAcdvV2tu7vRtSFXC4Xx"/>
                                            </div>
                                            <div class="description">
                                                <h3 class="title">@deandaniel</h3>
                                                <p class="small-text">Project Manager</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card card-member">
                                        <div class="content">
                                            <div class="avatar avatar-danger">
                                                <img alt="..." class="img-circle" src="https://ipfs.busy.org/ipfs/QmNvCtm4KZAAYqYpkajd3zDim8bcYMTNKofed5uWsdJgQw"/>
                                            </div>
                                            <div class="description">
                                                <h3 class="title">@lordjames</h3>
                                                <p class="small-text">Project Manager</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card-member">
                                        <div class="content">
                                            <div class="avatar avatar-danger">
                                                <img alt="..." class="img-circle" src="https://ipfs.busy.org/ipfs/Qmf2vByfrQfKExjgGD9PBAYMi2Xn2ZKysjP2qu7Tcanu7k"/>
                                            </div>
                                            <div class="description">
                                                <h3 class="title">@mbj</h3>
                                                <p class="small-text">Project Manager (Art Dept.)</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card-member">
                                        <div class="content">
                                            <div class="avatar avatar-danger">
                                                <img alt="..." class="img-circle" src="https://ipfs.busy.org/ipfs/QmfKaXVyZkqfdjezqoFq2SvcWkgLkJRij26iFbE3GXPUfn"/>
                                            </div>
                                            <div class="description">
                                                <h3 class="title">@gutzygwin</h3>
                                                <p class="small-text">Project Developer</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card card-member">
                                        <div class="content">
                                            <div class="avatar avatar-danger">
                                                <img alt="..." class="img-circle" src="https://ipfs.busy.org/ipfs/QmehUqh3FFgtbMxahGkG9ZCKMfWpQTL6LBJG85BS4ifjrs"/>
                                            </div>
                                            <div class="description">
                                                <h3 class="title">@kilatunzii</h3>
                                                <p class="small-text">Photography Department</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card-member">
                                        <div class="content">
                                            <div class="avatar avatar-danger">
                                                <img alt="..." class="img-circle" src="https://ipfs.busy.org/ipfs/QmRQdnZiinHBBwGgT3bVHoMsSACygW7EiGUoKcaFsuYxMG"/>
                                            </div>
                                            <div class="description">
                                                <h3 class="title">@sweetim</h3>
                                                <p class="small-text">Art Department</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card-member">
                                        <div class="content">
                                            <div class="avatar avatar-danger">
                                                <img alt="..." class="img-circle" src="https://ipfs.busy.org/ipfs/QmUvzqGMCHcgiY5Ke8rZBbxgAKXPS51Zoot78DDeTSojFd"/>
                                            </div>
                                            <div class="description">
                                                <h3 class="title">@joshuaetim</h3>
                                                <p class="small-text">Customer Care Department</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card card-member">
                                        <div class="content">
                                            <div class="avatar avatar-danger">
                                                <img alt="..." class="img-circle" src="https://ipfs.busy.org/ipfs/QmcKL9SeBun8zhKb2zsygTF939HeBNpK8MqsU5eq4AfSLL"/>
                                            </div>
                                            <div class="description">
                                                <h3 class="title">@jacobite</h3>
                                                <p class="small-text">Steem Jet Representative</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card-member">
                                        <div class="content">
                                            <div class="avatar avatar-danger">
                                                <img alt="..." class="img-circle" src="https://ipfs.busy.org/ipfs/QmX1cY6pjfLb5FbydauoHkWgLyUx7mb6feTkHTMJTuRTkc"/>
                                            </div>
                                            <div class="description">
                                                <h3 class="title">@sherrifakin</h3>
                                                <p class="small-text">Newbie Department</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card-member">
                                        <div class="content">
                                            <div class="avatar avatar-danger">
                                                <img alt="..." class="img-circle" src="https://ipfs.busy.org/ipfs/QmWbn5b7tadb7Lsck95DBqMVpMFgkQCc4Kd4r5CqNyoskP"/>
                                            </div>
                                            <div class="description">
                                                <h3 class="title">@lovelymkylie</h3>
                                                <p class="small-text">Research Department</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card card-member">
                                        <div class="content">
                                            <div class="avatar avatar-danger">
                                                <img alt="..." class="img-circle" src="https://ipfs.busy.org/ipfs/QmTa8NSZ6MhT9QY3Dg3sVCZFANEoZjpEWvJy8idbHoGrBn"/>
                                            </div>
                                            <div class="description">
                                                <h3 class="title">@jesse12</h3>
                                                <p class="small-text">Art And Music Department</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card-member">
                                        <div class="content">
                                            <div class="avatar avatar-danger">
                                                <img alt="..." class="img-circle" src="https://ipfs.busy.org/ipfs/QmegdoQ19e8yadN2ntxWc9tQPtQPo13HA9DDAwRWeAXF5L"/>
                                            </div>
                                            <div class="description">
                                                <h3 class="title">@ninoh22</h3>
                                                <p class="small-text">Customer Care Department</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card-member">
                                        <div class="content">
                                            <div class="avatar avatar-danger">
                                                <img alt="..." class="img-circle" src="https://ipfs.busy.org/ipfs/QmbYZnkt1YJpmsZZKdwqN61FwmRdVEtTc7qLw8hxRCyd9A"/>
                                            </div>
                                            <div class="description">
                                                <h3 class="title">@aideedavies</h3>
                                                <p class="small-text">Medical Department</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card card-member">
                                        <div class="content">
                                            <div class="avatar avatar-danger">
                                                <img alt="..." class="img-circle" src="https://ipfs.busy.org/ipfs/QmZfo2bk3hwkP9C2dDKNFfWbtyzFMusz3PqDEyD3GdP8tm"/>
                                            </div>
                                            <div class="description">
                                                <h3 class="title">@mrprecious</h3>
                                                <p class="small-text">Lead Music Department</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card-member">
                                        <div class="content">
                                            <div class="avatar avatar-danger">
                                                <img alt="..." class="img-circle" src="https://ipfs.busy.org/ipfs/QmNa45WBWunM92NoEVEULdqQG5qVx6LCwvdgroV6mpRSgB"/>
                                            </div>
                                            <div class="description">
                                                <h3 class="title">@ungest</h3>
                                                <p class="small-text">Customer Care Department</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card-member">
                                        <div class="content">
                                            <div class="avatar avatar-danger">
                                                <img alt="..." class="img-circle" src="https://ipfs.busy.org/ipfs/QmNq55Rn5wm9NvhfWJibMviD8cfrM4FcQ7kqHwh1UAQC6f"/>
                                            </div>
                                            <div class="description">
                                                <h3 class="title">@etemi</h3>
                                                <p class="small-text">Music Department</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-3">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card card-member">
                                        <div class="content">
                                            <div class="avatar avatar-danger">
                                                <img alt="..." class="img-circle" src="https://ipfs.busy.org/ipfs/Qma3cg5ipiJU4y4jrLWnoH8HVcU8dYWkniyHUqwj1shb9S"/>
                                            </div>
                                            <div class="description">
                                                <h3 class="title">@lifeofdarlington</h3>
                                                <p class="small-text">Supervising Department</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card-member">
                                        <div class="content">
                                            <div class="avatar avatar-danger">
                                                <img alt="..." class="img-circle" src="https://ipfs.busy.org/ipfs/Qma9zNQSPFXzBY697GFKi11XCSe4JbtFXDNHhtsLZQzQig"/>
                                            </div>
                                            <div class="description">
                                                <h3 class="title">@yungchief</h3>
                                                <p class="small-text">Supervising Department</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}